/*********UNIVERSAL STYLES************/

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  background-color: #1a73e8;
  color: rgb(18, 16, 16);
  text-align: center;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  font-family: "Lora ", serif;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
  margin-inline: 2%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 70px 10px;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  scroll-snap-align: end;
}

.navigate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  min-height: 5rem;
  font-weight: 600;
  font-style: oblique;
}

h1 {
  font-size: 9.2rem;
}

p {
  font-size: 2.6rem;
  font-style: "Noto Serif ", serif;
}

/***************NAV***************/

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: #1a73e8;
  position: fixed;
  top: 0px;
  width: 100%;
}

.nav-left {
  display: flex;
  justify-content: flex-start;
  margin-right: 5%;
  padding-left: 10%;
  width: 50%;
}

#brandon {
  font-size: 2rem;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  font-size: min(1.5rem, 3rem);
  margin-left: 5%;
  padding-right: 10%;
  width: 50%;
}

/**************MAIN*****************/

#main {
  background-color: antiquewhite;
}
/**************TWO*****************/
#two {
  background-color: floralwhite;
}
/**************THREE*****************/
#three {
  background-color: antiquewhite;
}
/**************FOUR*****************/
#four {
  background-color: floralwhite;
}
/**************FOOTER*****************/
#footer {
  background-color: antiquewhite;
}
/**************MEDIA QUERIES************/

@media only screen and (max-width: 600px) and (orientation: landscape) {
  .wrapper {
    width: 100%;
  }

  h1 {
    font-size: 6rem;
  }

  #brandon {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
  .wrapper {
    width: 100%;
    background-color: orange;
  }

  h1 {
    font-size: 6rem;
  }

  #brandon {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 601) and (max-width: 768px) {
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
}

@media only screen and (min-width: 992px) and (max-width: 3000px) {
  .wrapper {
    height: 90vh;
  }
}
