/*********UNIVERSAL STYLES************/

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  background-color: #1a73e8;
  color: rgb(18, 16, 16);
  text-align: center;
  overflow-x: scroll;
  font-family: "Lora ", serif;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
  margin-inline: 2%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 70px 10px;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  scroll-snap-align: center;
}

.navigate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  min-height: 5rem;
  font-weight: 600;
  font-style: oblique;
}

h1 {
  font-size: 9.2rem;
  margin: 2%;
}

p {
  font-size: 2.6rem;
  font-style: "Noto Serif ", serif;
}

.pic-holder {
  display: flex;
  width: max(25%);
  height: clamp(30vh, 40vh, 50vh);
  margin-bottom: 1%;
}

/***************NAV***************/

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: #1a73e8;
  font-weight: 600;
  position: fixed;
  top: 0px;
  width: 100%;
}

.nav-left {
  display: flex;
  justify-content: flex-start;
  margin-right: 5%;
  padding-left: 10%;
  width: 50%;
}

#brandon {
  font-size: 2rem;
}

#trees {
  visibility: hidden;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  font-size: min(1.5rem, 3rem);
  margin-left: 5%;
  padding-right: 10%;
  width: 50%;
}

/**************MAIN*****************/

#main {
  background-color: antiquewhite;
}

#me {
  display: block;
  width: 100%;
  height: 100%;
}
/**************SKILLS*****************/
#two {
  background-color: floralwhite;
}

.skills {
  display: flex;
  justify-content: space-around;
  width: 90%;
  min-height: 80%;
  margin-bottom: 5%;
}

.skill-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid black 1px;
  background-color: antiquewhite;
  width: 30%;
  margin-bottom: 2%;
}

.illustration {
  height: 40%;
  width: 40%;
}

.skill-text {
  width: 40%;
}

#computer {
  height: 100%;
  width: 100%;
  background-image: url("./programmer.svg");
  background-position: center;
  background-size: cover;
  border: solid red 2px;
}

#tags {
  height: 100%;
  width: 100%;
  background-image: url("./responsive.svg");
  background-position: center;
  background-size: 99%;
  background-repeat: no-repeat;
  border: solid red 2px;
}

#phone {
  height: 100%;
  width: 100%;
  background-image: url("./phone.svg");
  background-position: center;
  background-size: cover;
  border: solid red 2px;
}

/**************THREE*****************/
#three {
  background-color: antiquewhite;
}
/**************FOUR*****************/
#four {
  background-color: floralwhite;
}
/**************FOOTER*****************/
#footer {
  background-color: antiquewhite;
}
/**************MEDIA QUERIES************/

@media only screen and (max-width: 600px) and (orientation: landscape) {
  .wrapper {
    width: 100%;
  }

  h1 {
    font-size: 6rem;
  }

  #brandon {
    display: none;
  }

  #trees {
    visibility: visible;
  }

  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skill-box {
    width: 100%;
    height: 20rem;
  }
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
  .wrapper {
    width: 100%;
    background-color: orange;
  }

  h1 {
    font-size: 6rem;
  }

  #brandon {
    display: none;
  }

  #trees {
    visibility: visible;
  }

  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skill-box {
    width: 100%;
    height: 25rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .skill-box {
    width: 80%;
    height: 30rem;
  }

  #computer {
    height: 100%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .skill-box {
    width: 80%;
    height: 30rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 3000px) {
  .wrapper {
    height: 90vh;
  }
}
